.root {
  text-align: center;
}

.spinner {
  margin-top: 40px;
  font-size: 35px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
