.root {
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  margin-left: 3px;
}

.root > span {
  width: 25px;
  height: 25px;
}

.tooltipMy {
  position: absolute;
  padding: 10px 16px;
  left: calc(50% - 50px);
  top: 100%;
  z-index: 1337;
  transform: translate(-50%, -10px);
  background: white;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  font-size: 15px;
  min-width: 350px;
  font-weight: normal;
  white-space: wrap;
  opacity: 0;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.tooltipShown {
  opacity: 1;
  transform: translate(-50%, 0px);
}

@media screen and (max-width: 768px) {
  .root > span {
    display: none;
  }
}
